<html>
  <head>
    <title><%= title %></title>
    <%- partial("../partials/_meta") %>
  </head>
  <body>
    <%- partial("../partials/_header") %>
    <%- partial("_hero") %>
    <main class="projects"><%- yield %></main>
    <%- partial("_projectnav") %>
    <%- partial("../partials/_footer") %>
  </body>
  <%- partial("../partials/_scripts") %>
</html>